@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "base/police.scss";
@import "layouts/footer.scss";
@import "layouts/header.scss";
@import "utils/keyframes.scss";
@import "utils/function.scss";

p, h1, h2, h3{
   font-family: 'Roboto';
}

body{
   max-width: 375px;
   margin: auto;
}

.links{
   text-decoration: none;
   color: black;
}

/*Home_Page*/

#header_home{
   .arrow{
      display: none;
   }
}

/*section 1*/

#information{
   background-color: #f6f6f6;
   @include flex_center;
   padding-bottom: 10px;
  
   .information__geoloc{
      background-color: #eaeaea;
      box-shadow: 0px 3px 5px -3px rgb(0 0 0 / 75%) inset;
      width: 100%;
      text-align: center;
      color: #353535;
      font-weight: 500;
      i{
         margin-right: 18px;
      }
   }

   .information__info{
      text-align: center;
      h1{
         padding-left: 65px;
         padding-right: 65px;
         margin-bottom: 21px;
      }
      p{
         padding-left: 40px;
         padding-right: 40px;
         color: #9B9B9B;
         margin-bottom: 29px;
      }
      .btn{
         @include btn;
         margin-bottom: 56px;
         transition: transform 400ms;
         &:hover{
            transform: scale(1.05);
         }
      }
   }

}

/*section 2*/

#working{
   margin-top: 40px;
   h2{
      margin-left: 15px;
      margin-bottom: 15px;
   }
   .working__list{
      @include flex_center;
      padding-top: 15px;
      padding-bottom: 15px;
         ul{
            list-style-type: none;
            padding: 0px 0px 0px 5px;
            width: 80%;
            .list{
               padding: 10px;
               background-color: #F6F6F6;
               box-shadow: 1px -1px 19px -1px rgba(0,0,0,0.20);
               border-radius: 25px;
               margin-bottom: 15px;
               p{
                  position: relative;
                  left: -23px;
                  font-weight: 700;
                  span{
                     background-color: $primary-color;
                     border-radius: 50%;
                     padding: 4px 9px 4px 9px;
                     margin-right: 10px;
                     color: white;
                     font-size: 14px;
                  }
                  .fas{
                     margin-right: 10px;
                     color: #7E7E7E;
                  }
               }
            }
            .list--violet{
               background-color: #F5EDFF;
               .fas.fa-store{
                  color: $primary-color;
                  content: text;
               }
            }
         }
   }
}


/*section 3*/

#restaurant{
   background-color:#F2F2F2;
   padding-top: 25px;
   padding-bottom: 40px;
   h2{
      margin-left: 15px;
   }
   .restaurants{
      @include flex_center;
   }
}

#restaurant{
   .figure{
      height: 253px;
      background-color: white;
      border-radius: 25px;
      margin-bottom: 15px;
      .figure__image{
         position: relative;
         img{
            width: 337px;
            height: 176px;
            border-radius: 20px 20px 0px 0px;
            }
         .new{
            position: absolute;
            top: -4px;
            right: 12px;
            background-color: #99e2d0;
            color: #008766;
            padding: 5px;
            border-radius: 1px;
            font-weight: bold;
            font-size: 12px;
         }
      }
      .figure__figcaption{
         display: flex;
         flex-direction: row;
         position: relative;
         .description{
            width: 75%;
            line-height: 5px;
            margin-left: 10px;
         }
         .favoris{
            p{
               display: block;
               cursor:  pointer;
               .far{
                  position: absolute;
                  right: 12px;
                  z-index: 1;
                  background-color: white;
               }
               .fas{
                  position: absolute;
                  right: 12px;
                  color: pink;
               }
               .far:active{
                  z-index: -1;
               }
            }
         }
      }
   }
   .figure--old{
      .new{
         display: none;
      }
   }
} 


/*Page*/



.img_resto{
   position: relative;
   img{
      width: 100%;
   }
}


main{
   border-radius: 38px 38px 0px 0px;
   position: relative;
   top: -86px;
   background-color: #F6F6F6;
   padding-right: 14px;
   padding-left: 14px;
   padding-bottom: 54px;
   margin-bottom: -85px;
   h1{
      font-family: 'Shrikhand';
      font-weight: 100;
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.bloc{
   margin-bottom: 20px;
   h2{
      color: #353535;
      font-size: 1rem;
      font-weight: 400;
      border-bottom: 3px solid #99e2d0;
      width: 11%;
   }
}

.list__plat{
   animation: plat $anim-dur backwards;
      @for $i from 1 to 4 {
         &--#{$i}{
            animation-delay: $anim-delay * $i;
         }
      }
}

.list{
   display: flex;
   flex-direction: row;x
   .list__plat{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      margin-bottom: 15px;
      width: 100%;
      border-radius: 15px;
      padding-right:5px ;
      padding-left: 5px;
      box-shadow: 0px 1px 6px lightgrey;
      transition:margin-right 2s;
      .info{
         width: 100%;
         margin-top: -8px;
         .titre{
            padding-left: 10px;
            font-weight: 700;
            font-size: 1.1rem;
         }
         .details{
            margin-top: -26px;
            margin-bottom: -8px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            P{
               color: #353535;
               
            }
            .prix{
               font-weight: 700;
            }
         }  
      }
   }

   .animation{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0%;
      margin-right: -5px;
      background: #99e2d0;
      border-radius: 0px 15px 15px 0px;
      transition-duration: 1s;
      .fas{
         opacity: 0;
         transition: opacity 400ms ease-in;
         
      }
      .fas.fa-check-circle{
         color: white;
         font-size:25px;
         
         
         
      }
   }
}


.info:hover + .animation{
   width: 25%;
   transform-origin: 50% right;
   .fas{
      opacity: 1;
      animation: rotation 400ms linear;
   }
   
}

.commander{
   margin-top: 40px;
   .btn{
      @include btn;
      width: 60%;
      font-size: 1rem;
   }
}


#example-element{
   background-color:#e4f0f5;
   color:#000;padding:1rem;
   border-radius:.5rem;
   font:1em monospace;
   width:100%;
   transition:margin-right 2s;
}
   #default-example:hover>#example-element{
      background-color:#909;
      color:#fff;
      margin-right:40%
   }