@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "base/police.scss";
@import "layouts/footer.scss";
@import "layouts/header.scss";
@import "utils/keyframes.scss";
@import "utils/function.scss";

p, h1, h2, h3{
   font-family: 'Roboto';
}

body{
   margin: auto;
   @media screen and (min-width: 1440px){
      width: 1440px;
  }
}

.links{
   text-decoration: none;
   color: black;
}


/*lds-ring*/

.lds{
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   background-color: hsla(0,0%,100%,.9);
   animation: background 2s;
   animation-delay: 1.75s;
   animation-fill-mode: both;
   z-index: 10000;
   display: flex;
   align-items: center;
   justify-content: center;
}

.lds-ring {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
.lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin: 8px;
   border: 8px solid $primary-color;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 2;
   border-color: $primary-color transparent transparent transparent;
   background-color: transparent;
}
.lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
}

/*Home_Page*/


#header_home{
   .arrow{
      display: none;
   }
}

/*section 1*/

#information{
   background-color: #f6f6f6;
   @include flex_center;
   padding-bottom: 45px;
  
   .information__geoloc{
      background-color: #eaeaea;
      box-shadow: 0px 3px 5px -3px rgb(0 0 0 / 75%) inset;
      width: 100%;
      text-align: center;
      color: #353535;
      font-weight: 500;
      i{
         margin-right: 18px;
      }
   }

   .information__info{
      text-align: center;
      h1{
         padding-left: 65px;
         padding-right: 65px;
         margin-bottom: 21px;
      }
      p{
         padding-left: 40px;
         padding-right: 40px;
         color: #9B9B9B;
         margin-bottom: 29px;
      }
     
      .btn {
         @include btn;
         position: relative;
         z-index: 1;
         &:hover{
            &::after{
               opacity: 1;
            }
         }
         &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;  
            left: 0;
            background: linear-gradient(0deg, rgba(166,113,228,1) 0%, rgba(255,161,229,1) 100%);
            box-shadow: 0px 6px 2px lightgrey;
            border-radius: 25px;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
         }
      }
   }
}

/*section 2*/

#working{
   margin-top: 40px;
   h2{
      margin-left: 15px;
      margin-bottom: 15px;
   }
   .working__list{
      @include flex_center;
      padding-top: 15px;
      padding-bottom: 15px;
         ul{
            list-style-type: none;
            padding: 0px 0px 0px 5px;
            width: 80%;
            @media screen and (min-width: 1024px){
               width: 50%;
           }
            .list{
               padding: 10px;
               background-color: #F6F6F6;
               box-shadow: 0px 3px 10px lightgrey;
               border-radius: 25px;
               margin-bottom: 15px;
               p{
                  position: relative;
                  left: -23px;
                  font-weight: 700;
                  span{
                     background-color: $primary-color;
                     border-radius: 50%;
                     padding: 4px 9px 4px 9px;
                     margin-right: 10px;
                     color: white;
                     font-size: 14px;
                  }
                  .fas{
                     margin-right: 10px;
                     color: #7E7E7E;
                  }
               }
            }
            .list--violet{
               background-color: #F5EDFF;
               .fas.fa-store{
                  color: $primary-color;
                  content: text;
               }
            }
         }
   }
}


/*section 3*/

#restaurant{
   background-color:#F2F2F2;
   padding-top: 25px;
   padding-bottom: 40px;
   h2{
      margin-left: 15px;
   }
   .restaurants{
      @include flex_center; 
      @media screen and (min-width: 768px){
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
     }
   }
}

#restaurant{
   .figure{
      height: 253px;
      background-color: white;
      border-radius: 25px;
      margin-bottom: 15px;
      
      @media screen and (min-width: 768px){
         margin:5px;
     }
      .figure__image{
         position: relative;
         img{
            width: 337px;
            height: 176px;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            }
         .new{
            position: absolute;
            top: -4px;
            right: 12px;
            background-color: #99e2d0;
            color: #008766;
            padding: 5px;
            border-radius: 1px;
            font-weight: bold;
            font-size: 12px;
         }
      }
      .figure__figcaption{
         display: flex;
         flex-direction: row;
         position: relative;
         .description{
            width: 75%;
            line-height: 5px;
            margin-left: 10px;
         }
         .favoris{
            p{
               display: block;
               cursor:  pointer;
               .far{
                  position: absolute;
                  right: 12px;
                     &:hover{
                        font-weight: bold;
                        background: linear-gradient(0deg, rgba(166,113,228,1) 0%, rgba(255,161,229,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                  }
               }
            }
         }
      }
   }
   .figure--old{
      .new{
         display: none;
      }
   }
} 


/*Page*/



.img_resto{
   bottom: 330px;
   img{
      width: 100%;
   }
}


main{
   border-radius: 38px 38px 0px 0px;
   position: relative;
   top: -43px;
   background-color: #F6F6F6;
   padding-right: 14px;
   padding-left: 14px;
   padding-bottom: 35px;
   margin-bottom: -66px;
   .title{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      h1{
         font-family: 'Shrikhand';
         font-weight: 100;
         padding-top: 25px;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .far{
         right: 29px;
         bottom: 9px;
         font-size: 2rem;
         background-color: transparent;
         position: relative;
         top: 0px;
         &:hover{
            font-weight: bold;
            background: linear-gradient(0deg, rgba(166,113,228,1) 0%, rgba(255,161,229,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }
   }
}

.container{
   margin-bottom: 20px;
   @media screen and (min-width: 768px){
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .bloc{
         @media screen and (min-width: 768px){
            width: 30%;
      }
      h2{
         color: #353535;
         font-size: 1rem;
         font-weight: 400;
         border-bottom: 3px solid #99e2d0;
         width: 11%;
      }
   }
}
}



.menu__plat{
   animation: plat $anim-dur backwards;
      @for $i from 1 to 4 {
         &--#{$i}{
            animation-delay: $anim-delay * $i;
         }
      }
}

.menu{
   display: flex;
   flex-direction: row;
   .menu__plat{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      margin-bottom: 15px;
      width: 97%;
      border-radius: 15px;
      padding-right:5px ;
      padding-left: 5px;
      box-shadow: 0px 1px 6px lightgrey;
      transition:margin-right 2s;
      .info{
         width: 100%;
         margin-top: -8px;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         .titre{
            padding-left: 10px;
            font-weight: 700;
            font-size: 1.1rem;
            
         }
         .details{
            margin-top: -26px;
            margin-bottom: -8px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            P{
               color: #353535;
            }
            .sous_titre{
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
            .prix{
               font-weight: 700;
            }
         }  
      }
   }

   .animation{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0%;
      margin-right: -5px;
      background: #99e2d0;
      border-radius: 0px 15px 15px 0px;
      transition-duration: 1s;
      .fas{
         opacity: 0;
         transition: opacity 400ms ease-in;
         
      }
      .fas.fa-check-circle{
         color: white;
         font-size:25px;
      }
   }
}


.info:hover + .animation{
   width: 25%;
   transform-origin: 50% right;
   .fas{
      opacity: 1;
      animation: rotation 400ms linear;
   }
   
}

.commander{
   margin-top: 40px;
   .btn {
      @include btn;
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
      z-index: 1;
      &:hover{
         &::after{
            opacity: 1;
         }
      }
      &::after{
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;  
         left: 0;
         background: linear-gradient(0deg, rgba(166,113,228,1) 0%, rgba(255,161,229,1) 100%);
         box-shadow: 0px 6px 2px lightgrey;
         border-radius: 25px;
         opacity: 0;
         z-index: -1;
         transition: opacity 250ms;
      }
   }
}
