@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
footer {
  padding: 15px;
  background-color: #353535;
}
footer h2 {
  font-family: "Shrikhand";
  color: white;
  margin-left: 10px;
  font-weight: 100;
}
footer p {
  color: white;
  margin-left: 10px;
}

header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 63px;
  background-color: white;
  height: 63px;
}
header .logo {
  margin-top: 10px;
}
header .logo img {
  width: 166px;
  height: 31px;
}
header .arrow {
  margin-left: -17%;
  margin-right: 14%;
  margin-top: 2%;
  font-size: 18px;
}
header .arrow .fas.fa-arrow-left {
  color: #353535;
}

@keyframes plat {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*.list__plat--1 {
   animation: plat 1.2s;
}
.list__plat--2 {
   animation: plat 1.8s;
}
.list__plat--3 {
   animation: plat 2s;
}*/
p, h1, h2, h3 {
  font-family: "Roboto";
}

body {
  max-width: 375px;
  margin: auto;
}

.links {
  text-decoration: none;
  color: black;
}

/*Home_Page*/
header .arrow {
  display: none;
}

/*section 1*/
#information {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
#information .information__geoloc {
  background-color: #eaeaea;
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75) inset;
  width: 100%;
  text-align: center;
  color: #353535;
  font-weight: 500;
}
#information .information__geoloc i {
  margin-right: 18px;
}
#information .information__info {
  text-align: center;
}
#information .information__info h1 {
  padding-left: 65px;
  padding-right: 65px;
  margin-bottom: 21px;
}
#information .information__info p {
  padding-left: 40px;
  padding-right: 40px;
  color: #9B9B9B;
  margin-bottom: 29px;
}
#information .information__info .btn {
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 15px;
  margin-bottom: 56px;
  transition: transform 400ms;
}
#information .information__info .btn:hover {
  transform: scale(1.05);
}

/*section 2*/
#working {
  margin-top: 40px;
}
#working h2 {
  margin-left: 15px;
  margin-bottom: 15px;
}
#working .working__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#working .working__list ul {
  list-style-type: none;
  padding: 0px 0px 0px 5px;
  width: 80%;
}
#working .working__list ul .list {
  padding: 10px;
  background-color: #F6F6F6;
  box-shadow: 1px -1px 19px -1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-bottom: 15px;
}
#working .working__list ul .list p {
  position: relative;
  left: -22px;
  font-weight: 700;
}
#working .working__list ul .list p span {
  background-color: #9356DC;
  border-radius: 50%;
  padding: 4px 9px 4px 9px;
  margin-right: 10px;
  color: white;
  font-size: 14px;
}
#working .working__list ul .list p .fas {
  margin-right: 10px;
  color: #7E7E7E;
}
#working .working__list ul .list--violet {
  background-color: #F5EDFF;
}
#working .working__list ul .list--violet .fas.fa-store {
  color: #9356DC;
  content: text;
}

/*section 3*/
#restaurant {
  background-color: #F2F2F2;
  padding-top: 25px;
  padding-bottom: 40px;
}
#restaurant h2 {
  margin-left: 15px;
}
#restaurant .restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restaurant .figure {
  height: 253px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 15px;
}
#restaurant .figure .figure__image {
  position: relative;
}
#restaurant .figure .figure__image img {
  width: 337px;
  height: 176px;
  border-radius: 20px 20px 0px 0px;
}
#restaurant .figure .figure__image .new {
  position: absolute;
  top: -4px;
  right: 12px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px;
  border-radius: 1px;
  font-weight: bold;
  font-size: 12px;
}
#restaurant .figure .figure__figcaption {
  display: flex;
  flex-direction: row;
  position: relative;
}
#restaurant .figure .figure__figcaption .description {
  width: 75%;
  line-height: 5px;
  margin-left: 10px;
}
#restaurant .figure .figure__figcaption .favoris p {
  display: block;
  cursor: pointer;
}
#restaurant .figure .figure__figcaption .favoris p .far {
  position: absolute;
  right: 12px;
  z-index: 1;
  background-color: white;
}
#restaurant .figure .figure__figcaption .favoris p .fas {
  position: absolute;
  right: 12px;
  color: pink;
}
#restaurant .figure .figure__figcaption .favoris p .far:active {
  z-index: -1;
}
#restaurant .figure--old .new {
  display: none;
}

/*Page_1*/
.img_resto {
  position: relative;
}
.img_resto img {
  width: 375px;
  height: 253px;
}

main {
  border-radius: 38px 38px 0px 0px;
  position: relative;
  top: -86px;
  background-color: #F6F6F6;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 54px;
  margin-bottom: -85px;
}
main h1 {
  font-family: "Shrikhand";
  font-weight: 100;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloc {
  margin-bottom: 20px;
}
.bloc h2 {
  color: #353535;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}

.list__plat {
  animation: plat 1.5s backwards;
}
.list__plat--1 {
  animation-delay: 0.5s;
}
.list__plat--2 {
  animation-delay: 1s;
}
.list__plat--3 {
  animation-delay: 1.5s;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list .list__plat {
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 0px 1px 6px lightgrey;
}
.list .list__plat .titre {
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 5px;
}
.list .list__plat .details {
  margin-top: -26px;
  margin-bottom: -8px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list .list__plat .details P {
  color: #353535;
}
.list .list__plat .details .prix {
  font-weight: 700;
}
.list .list__animation {
  background-color: green;
  width: 0%;
  height: 25px;
}

.commander .btn {
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 15px;
  width: 60%;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
