@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  background-color: #131921;
  color: white;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__top img {
  height: 70px;
  width: 70px;
}
.header__form {
  display: flex;
}
.header__form .form__btn {
  background-color: #F9A300;
  padding: 0.45rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: -1px 0px 2px 0px #131921;
}
.header__form .bar {
  padding: 0.6rem;
  border-radius: 10px 0px 0px 10px;
  border: none;
  width: 12rem;
}
@media screen and (min-width: 600px) {
  .header__form .bar {
    width: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__form .bar {
    width: 35rem;
  }
}
.header__bot {
  background-color: #232F3E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  margin-bottom: -15px;
  margin-left: -15px;
  margin-right: -15px;
}
.header__compte {
  display: flex;
  align-items: center;
  color: white;
}
.header__panier {
  display: flex;
  align-items: center;
  color: white;
}
.header__panier--article {
  font-weight: 500;
  background-color: red;
  position: relative;
  top: -10px;
  left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50px;
}
.header i {
  font-size: larger;
}
.header p {
  margin-left: 0.5rem;
}

.footer {
  height: 8rem;
  background-color: #232F3E;
}
.footer__backTop {
  height: 2rem;
  background-color: #485769;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__details li {
  list-style: none;
  color: white;
}

body {
  font-family: "Roboto";
}

.links {
  text-decoration: none;
  color: black;
}

.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.error {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #232F3E;
}

.produits {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.produits__title {
  width: 100%;
  text-align: center;
}
.produits__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.produits__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: 280px;
  background-color: white;
}
.produits__images img {
  width: 250px;
  height: 250px;
}
.produits__details {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1rem;
}
.produits__details--name {
  font-weight: bold;
}
.produits__details--price {
  font-size: 1.2rem;
}
.produits__btn {
  position: relative;
  bottom: 1.2rem;
  margin-top: 10px;
}

.btn {
  background-color: #F9A300;
  border: none;
  height: 32px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.fiche {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.fiche__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
@media screen and (min-width: 1240px) {
  .fiche__cards {
    display: flex;
    flex-direction: row;
  }
}
.fiche__images {
  height: 500px;
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.fiche__vignette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.fiche__details {
  flex-direction: column;
  width: 70%;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.fiche__details h2 {
  font-size: 3rem;
  margin: 0;
}
.fiche__details .description {
  font-size: 1.5rem;
}
.fiche__details .produits__details--price {
  font-size: 2rem;
  font-weight: 600;
}
.fiche__details p {
  font-size: 1.5rem;
}
.fiche__couleur--couleur {
  font-size: 1.5rem;
}
.fiche__couleur--option {
  font-size: 1.5rem;
}
.fiche__nombre {
  display: flex;
  flex-direction: row;
  height: 27px;
  width: 92px;
}
.fiche__nombre .minus-btn {
  margin-right: 1.5rem;
}
.fiche__nombre .nbr {
  width: 1.5rem;
  border: none;
  font-size: 1.5rem;
  height: 40px;
}
.fiche__nombre .plus-btn {
  margin-left: 1.5rem;
}

.container__false {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__false .panierVide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__false h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #232F3E;
}

.container__true {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 2rem;
}

.panier {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.panier h2 {
  font-size: 1.8rem;
  font-weight: 900;
  color: #232F3E;
}
.panier__cards {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  max-width: 100%;
  width: 350px;
  flex-wrap: wrap;
}
.panier__btn--suppr {
  position: relative;
  top: -233px;
  left: 157px;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: 900;
  background-color: #ea0000;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.panier__image {
  height: 130px;
  width: 130px;
  width: 35%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 14px solid #f1f1f1;
}
.panier__details--gauche {
  flex-direction: column;
  display: flex;
  line-height: 10px;
  width: 55%;
  align-items: center;
  justify-content: center;
}
.panier__details--gauche h2 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.panier__details--gauche #nombre {
  margin: 0;
  margin-bottom: 10px;
}
.panier__nombre {
  display: flex;
  flex-direction: row;
}
.panier__nombre .minus-btn {
  margin-right: 1.3rem;
}
.panier__nombre .nbr {
  width: 2rem;
  border: none;
  font-size: 1rem;
}
.panier__nombre .plus-btn {
  margin-left: 1.3rem;
}
.panier__details--droite {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.panier__details--droite h2 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.panier__details--droite .produits__details--price {
  font-size: 1rem;
}
.panier__details--droite .produits__details--Totalprice {
  font-size: 1.2rem;
  margin-left: 40px;
}
.panier__couleur {
  display: flex;
  flex-direction: column;
}

.recapCommande {
  background-color: white;
  box-shadow: 0px 0px 9px 2px #bababa;
  margin: 2rem;
  padding: 1rem;
}
.recapCommande h2 {
  font-size: 2rem;
  border-bottom: 1px solid gray;
}
.recapCommande__prixTotal {
  font-size: 1.5rem;
}
.recapCommande__nombreArticles {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

form#paiement {
  padding: 20px;
}

form#paiement fieldset {
  margin-bottom: 10px;
}

form#paiement legend {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 4px;
}

form#paiement ol li {
  list-style: none;
}

form#paiement ol ol li {
  background: none;
  border: none;
  float: left;
}

form#paiement label {
  float: left;
  width: 110px;
}

form#paiement fieldset fieldset label {
  background: none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}

form#paiement fieldset fieldset label:hover {
  cursor: pointer;
}

form#paiement input:not([type=radio]),
form#paiement textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}

form#paiement input:not([type=submit]):focus,
form#paiement textarea:focus {
  background: #eaeaea;
}

form#paiement input[type=radio] {
  float: left;
  margin-right: 5px;
}

.commande {
  display: flex;
  justify-content: center;
  text-align: center;
}
.commande__information {
  margin-top: 400px;
  margin-bottom: 400px;
}
.commande__information h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #131921;
}
.commande__information p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #485769;
  margin-bottom: 200px;
}
.commande__information a {
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid #131921;
  box-shadow: 0px 0px 9px 2px #bababa;
  border-radius: 15px;
  padding: 8px;
}

body {
  margin: 0;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
