@mixin flex_center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


@mixin btn {
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    padding: 15px;  
    outline-style:none;    
    box-shadow: 0px 3px 10px lightgrey;
    transition: box-shadow 400ms ease-in-out;
}