footer{
   padding: 15px;
   background-color: #353535;
   h2{
      font-family: 'Shrikhand';
      color: white;
      margin-left: 10px;
      font-weight: 100;
   }
   p{
      color: white;
      margin-left: 10px;
   }
}