header{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   background-color: white;
   height: 63px;
   background-color: white;
   height: 63px;
   position: relative;
   z-index: 1;
   .logo{
      width: 70%;
      justify-content: center;
      display: flex;
      img{
         width: 166px;
         height: 31px;
      }
   }
   .arrow{
      width: 0%;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;;
      
      .fas.fa-arrow-left{
         color: #353535;
      }
   }      
}