.btn{
    background-color: #F9A300;
    border: none;
    height: 32px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    display: flex;
    align-items: center;
}     
